<% include ../partials/header %>


<div class="container">
    <div class="row">
            <h1 style="text-align: center" >Edit  <%=skatepark.name%></h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/skateparks/<%= skatepark._id%>/?_method=PUT" method="POST" >
            <div class="form-group">
                 <input class="form-control" type="text" name="skatepark[name]" value="<%=skatepark.name%>">
            </div>
            <div class="form-group">
                     <input class="form-control" type="text" name="skatepark[image]" value="<%=skatepark.image%>">
            </div>
             <div class="form-group">
                     <input class="form-control" type="text" name="skatepark[description]" value="<%=skatepark.description%>">
            </div> <div class="form-group">
                     <input class="form-control" type="text" name="skatepark[price]" placeholder="price" value="<%=skatepark.price%>">
            </div>
            
            <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
         <a class="btn btn-primary" href="/skateparks">Go Back</a>
            </div>
            
    </div>

</div>

<% include ../partials/footer %>