<% include ../partials/header %>

<div class="container">
    <div class="row"> 
        <div class="col-md-3">
            <p class="lead"> SkateHub</p>
            <div class="list-group"> 
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= skatepark.image %>">
                <div class= "caption-full"> 
                    <h4 class="pull-right"> <%=skatepark.price%></h4>
                    <h4><a><%=skatepark.name%></a></h4>
                    <p><%= skatepark.description %></p>
                    <p>
                       <strong> <em>Submitted by <%= skatepark.author.username%></em> </strong>
                    </p>
                    <% if(currentUser && skatepark.author.id.equals(currentUser._id)){%>
                      <a class="btn btn-warning" href="/skateparks/<%=skatepark._id%>/edit">Edit</a>
                      <form style="inline"id="deleteform" action="/skateparks/<%= skatepark._id %>?_method=DELETE" method="POST">
                          <button class="btn btn-danger" >Delete</button>
                      </form>
                      <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                     <a class="btn btn-success" href="/skateparks/<%= skatepark._id %>/comments/new">Leave a review</a>
                </div>
                <% skatepark.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right"><%= comment.created.toDateString() %></span>
                        <p>
                       <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" 
                        href="/skateparks/<%=skatepark._id %>/comments/<%=comment._id%>/edit">Edit</a>
                        <form id="deleteform" action="/skateparks/<%=skatepark._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                        <% } %>
                    </div>
                </div>
                  
                <% }) %>
            </div>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= skatepark.lat %>;
    var lng = <%= skatepark.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= skatepark.name %><br />
      <%= skatepark.location %></strong>
      <p><%= skatepark.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa4gqWvbH7xMd1wg-MYEINUcwFvv-UF3I&callback=initMap"></script>







<% include ../partials/footer %>